<?xml version="1.0"?>
<config>
    <modules>
        <Ho_Customer>
            <version>0.1.0</version>
        </Ho_Customer>
    </modules>
    <global>
        <blocks>
            <ho_customer>
                <class>Ho_Customer_Block</class>
            </ho_customer>
        </blocks>
        <helpers>
            <ho_customer>
                <class>Ho_Customer_Helper</class>
            </ho_customer>
        </helpers>
        <models>
            <ho_customer>
                <class>Ho_Customer_Model</class>
            </ho_customer>
        </models>
        <translate>
            <modules>
                <ho_customer>
                    <files>
                        <default>Ho_Customer.csv</default>
                    </files>
                </ho_customer>
            </modules>
        </translate>
        <events>
            <sales_order_save_before>
                <observers>
                    <ho_customer_auto_create_customer>
                        <class>Ho_Customer_Model_Observer</class>
                        <method>autoCreateCustomer</method>
                    </ho_customer_auto_create_customer>
                </observers>
            </sales_order_save_before>
            <controller_action_predispatch_customer_account_createpost>
                <observers>
                    <ho_customer_change_email_exists_message>
                        <class>Ho_Customer_Model_Observer</class>
                        <method>registerUnconfirmedCustomer</method>
                    </ho_customer_change_email_exists_message>
                </observers>
            </controller_action_predispatch_customer_account_createpost>
            <customer_save_before>
                <observers>
                    <ho_customer_set_existing_customer>
                        <class>Ho_Customer_Model_Observer</class>
                        <method>registerUnconfirmedCustomerCheckout</method>
                    </ho_customer_set_existing_customer>
                </observers>
            </customer_save_before>
        </events>

        <template>
            <email>
                <ho_customer_complete_profile_email_template translate="label" module="ho_customer">
                    <label>Complete Your Profile Email</label>
                    <file>ho_customer/complete_your_profile.html</file>
                    <type>html</type>
                </ho_customer_complete_profile_email_template>
            </email>
        </template>
    </global>

    <default>
        <ho_customer>
            <complete_profile>
                <days_after>30</days_after>
                <email_sender>general</email_sender>
                <email_template>ho_customer_complete_profile_email_template</email_template>
            </complete_profile>
        </ho_customer>
    </default>

    <crontab>
        <jobs>
            <!-- Enable this job to create customers for existing guest orders -->
            <!-- and link existing orders to customers, based on email address -->
            <!--<ho_create_customers_from_orders>-->
                <!--<schedule><cron_expr>*/1 * * * *</cron_expr></schedule>-->
                <!--<run><model>ho_customer/guestOrders::registerCustomers</model></run>-->
            <!--</ho_create_customers_from_orders>-->
        </jobs>
    </crontab>
</config>