<?xml version="1.0"?>
<config>
    <tabs>
        <ho_config translate="label" module="ho_customer">
            <label>H&amp;O</label>
            <sort_order>0</sort_order>
        </ho_config>
    </tabs>
    <sections>
        <ho_customer translate="label" module="ho_customer">
            <label>Customer</label>
            <tab>ho_config</tab>
            <sort_order>500</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <automatic translate="label" module="ho_customer">
                    <label>Automatic Options</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[<div class="box" style="background:#fff;">
                        <b style="color:#eb5e00;">Warning:</b> This option can only be enabled if <i>Require Emails Confirmation</i> is <b>disabled</b>.<br/>
                        This option is found at: Customer Configuration > Create New Account Options.
                    </div>]]></comment>
                    <fields>
                        <create_customers translate="label" module="ho_customer">
                            <label>Create Customers</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>10</sort_order>
                            <comment><![CDATA[Automatically creates customers from guest orders.<br />
                                <b>Note:</b> This also links guest orders to customers if the email address matches with an account.]]></comment>
                        </create_customers>
                        <require_login>
                            <label>Always require login for non-shadow customers</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>20</sort_order>
                            <comment><![CDATA[Prompt for password for non-shadow customers when using the <b>sales/guest/form</b> page to view order details.]]></comment>
                        </require_login>
                        <cron_action translate="label comment" module="ho_customer">
                            <label>Convert orders to customers</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Set to: <code>*/1 * * * *</code> to enable the conversion of existing orders to customers,
                            this will schedule a cron and may take a while depending on the amount of orders.]]></comment>
                            <depends><create_customers>1</create_customers></depends>
                        </cron_action>
                    </fields>
                </automatic>
                <complete_profile translate="label" module="ho_customer">
                    <label>Complete Profile Follow-up Email</label>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>10</sort_order>
                            <comment><![CDATA[Send an email to customers with an incomplete profile, X days after a completed order.]]></comment>
                        </enabled>
                        <start_date translate="label">
                            <label>Start date</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>20</sort_order>
                            <comment><![CDATA[yyyy-mm-dd. Fill this field so that old orders don't receive emails by this feature.]]></comment>
                            <depends><enabled>1</enabled></depends>
                        </start_date>
                        <days_after translate="label">
                            <label>Days after</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>30</sort_order>
                            <comment><![CDATA[Number of days after a completed order. Default: 30]]></comment>
                            <depends><enabled>1</enabled></depends>
                        </days_after>
                        <email_sender>
                            <label>Email sender</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_identity</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>40</sort_order>
                            <depends><enabled>1</enabled></depends>
                        </email_sender>
                        <email_template>
                            <label>Email template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>50</sort_order>
                            <depends><enabled>1</enabled></depends>
                        </email_template>
                        <discount_enabled translate="label">
                            <label>Discount enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>100</sort_order>
                            <comment><![CDATA[Hand out promo discount code after profile is completed by customer.]]></comment>
                            <depends><enabled>1</enabled></depends>
                        </discount_enabled>
                        <discount_rule_id translate="label">
                            <label>Promo Rule</label>
                            <frontend_type>select</frontend_type>
                            <source_model>ho_customer/system_config_source_promoRules</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>110</sort_order>
                            <comment><![CDATA[The shopping cart price rule at which a new coupon code will be generated.]]></comment>
                            <depends><discount_enabled>1</discount_enabled></depends>
                        </discount_rule_id>
                    </fields>
                </complete_profile>
                <newsletter_discount translate="label" module="ho_customer">
                    <label>Checkout Newsletter Subscription Discount</label>
                    <comment><![CDATA[Sent mail with discount coupon code to customer when subscribing to newsletter via the checkout]]></comment>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>30</sort_order>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>10</sort_order>
                        </enabled>
                        <price_rule translate="label">
                            <label>Price Rule</label>
                            <frontend_type>select</frontend_type>
                            <source_model>ho_customer/system_config_source_promoRules</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>20</sort_order>
                            <depends><enabled>1</enabled></depends>
                            <comment><![CDATA[The shopping cart price rule which is used to create a coupon code for]]></comment>
                        </price_rule>
                        <limit_usage translate="label">
                            <label>Limit Usage</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>25</sort_order>
                            <depends><enabled>1</enabled></depends>
                            <comment><![CDATA[Default is 'Yes'. When set to 'Yes', the sent coupons can only be used once.]]></comment>
                        </limit_usage>
                        <email_template translate="label">
                            <label>Email Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>30</sort_order>
                            <depends><enabled>1</enabled></depends>
                        </email_template>
                        <email_sender translate="label">
                            <label>Email Sender</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_identity</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>40</sort_order>
                            <depends><enabled>1</enabled></depends>
                        </email_sender>
                    </fields>
                </newsletter_discount>
            </groups>
        </ho_customer>
    </sections>
</config>
